### Imports

In [59]:
import pandas as pd
import numpy as np
import sklearn as skit
import math

import geopy
from geopy.distance import VincentyDistance

from scipy import constants
constants.value

###    Funcao  PATH

In [60]:

#calcula  distancia entre dois pontos B e M
def dist_BS_MS(latB, lonB, latM,lonM):
    coord_base = (latB, lonB)
    coord_mobi = (latM, lonM)
    return geopy.distance.vincenty(coord_base, coord_mobi).m


#calculo do Path loss para dada distancia
def freeSpacePL(dist, freq):
    return 32.44 + 20*np.log10(dist) + 20*np.log10(freq)
    
    # dei uma comentado pra usar da forma que está no git de robson, parecia estar certo, mas esse 147.55 eu não calculei
    # sei que é o resultado lá dos ganhos mas... depois debate isso
    
    #return 20*math.log(dist,10) + 20*math.log(freq,10) + 147.55221
    
    #conferir corretude em: https://www.everythingrf.com/rf-calculators/free-space-path-loss-calculator
#print(_FSPL(2, 1800000000))

def leeModelPL(dist, freq):
    n0 = 3.84
    p0 = 61.7
    txH = 50.0
    rxH = 1.5
    nf = 3 if freq > 850 else 2
    X2 = 2 if rxH > 3 else 1
    L1 = -20*np.log10(txH/30)
    L2 = -10*X2*np.log10(rxH/3)
    Lo = 50.3 + p0 - 10*n0*np.log10(1.61)-10*nf*np.log10(900)
    L = Lo + 10*n0*np.log10(dist)+10*nf*np.log10(freq)+L1+L2
    return L

def flatEarthPL(dist, freq):
    return 120 + (40*np.log10(dist)) - (20*np.log10(50.0) - (20*np.log10(1.5)))

In [61]:
#names=["pontoId","lat","lon","pathBTS1","pathBTS2","pathBTS3","pathBTS4","pathBTS5","pathBTS6","taBTS1","taBTS2","taBTS3","taBTS4","taBTS5","taBTS6"]
#BD referencia
df_ref = pd.read_csv("CM/LocTreino_Equipe_6.csv")

df_ref = df_ref.drop(['pontoId','taBTS1','taBTS2','taBTS3','taBTS4','taBTS5','taBTS6'], axis = 1)

df_ref.head()

,lat,lon,pathBTS1,pathBTS2,pathBTS3,pathBTS4,pathBTS5,pathBTS6
0,-8.076391,-34.895985,120.610000,104.380000,129.970000,123.620000,129.460000,132.080000
1,-8.072939,-34.895676,105.290000,121.523333,106.556667,108.756667,122.556667,126.123333
2,-8.076256,-34.899773,122.256667,110.423333,124.490000,135.256667,142.956667,142.556667
3,-8.064446,-34.889416,127.423333,132.656667,130.556667,131.856667,126.090000,137.723333
4,-8.068819,-34.888874,121.490000,136.423333,128.190000,122.723333,107.256667,120.323333

In [62]:
#Antenas
df_antenas = pd.read_csv("CM/dados_BTSs.csv")
df_antenas

    name       lat        lon     band  bcch   eirp    bts
0  136_2 -8.068361 -34.892722  GSM1800   662  55.59  BTS-1
1  137_3 -8.075917 -34.894611  GSM1800   806  55.59  BTS-2
2  197_1 -8.076361 -34.908000  GSM1800   666  55.59  BTS-3
3  137_1 -8.075917 -34.894611  GSM1800   690  55.59  BTS-4
4  138_2 -8.066000 -34.889444  GSM1800   673  55.59  BTS-5
5  245_2 -8.064583 -34.894583  GSM1800   682  55.59  BTS-6

### lat's e lon's das extermidade do mapa
### largura e altura do grid

In [63]:
min_lat = df_ref['lat'].min()
max_lat = df_ref['lat'].max()
min_lon = df_ref['lon'].min()
max_lon = df_ref['lon'].max()

print("latitude maxima: {}".format(max_lat))
print("latitude minima: {}".format(min_lat))
print("***")
print("long maxima: {}".format(max_lon))
print("long minima: {}".format(min_lon))
print("***")
#coord -> (lat lon)
coord_min_min = (min_lat, min_lon)
coord_min_max = (min_lat, max_lon)
coord_max_max = (max_lat, max_lon)
coord_max_min = (max_lat, min_lon)

#rtg -> retangulo

grid_wd = math.ceil(geopy.distance.vincenty(coord_min_min, coord_min_max).m)
grid_ht = math.ceil(geopy.distance.vincenty(coord_min_min, coord_max_min).m)
print ("largura do grid em metros: {}".format(grid_wd))
print ("altura do grid em metros: {}".format(grid_ht))

latitude maxima: -8.059338
latitude minima: -8.077575999999999
***
long maxima: -34.885067
long minima: -34.90683
***
largura do grid em metros: 2399
altura do grid em metros: 2018

### altura, largura e quantidade de celulas
#cell_wd = prop x cell_ht
#cell_wd -> 100 metros

In [64]:
prop = grid_wd/grid_ht
#print(prop)
cell_ht = 50 #em metros
cell_wd = math.ceil(prop*cell_ht)

print("celula tem {} metros de largura".format(cell_wd +1))
print("celula tem {} metros de altura".format(cell_ht))

math.ceil
num_col = math.ceil(grid_wd/cell_wd)
num_row = math.ceil(grid_ht/cell_ht)
n_of_cells = int(num_col*num_row)

print("total de linhas: {}".format(num_row))
print("total de colunas: {}".format(num_col))

print("total de celulas: {}".format(n_of_cells))

celula tem 61 metros de largura
celula tem 50 metros de altura
total de linhas: 41
total de colunas: 40
total de celulas: 1640

### lat's e lon's de todos as celulas do grid

In [65]:

# calculo as coord do centro da primeira celula (mais abaixo e mais a esquerda):
origem = geopy.Point(min_lat, min_lon)
angulo = math.degrees(math.atan(cell_ht/cell_wd))
hipotenusa = math.hypot(cell_ht/2,cell_wd/2)
destination = VincentyDistance(meters=hipotenusa).destination(origem, angulo)
lat0, lon0 = destination.latitude, destination.longitude

#com base em lat0 e lon0 gerar as lats e as lons para as demais celulas:
latx,  lonx = lat0, lon0 
lats, lons = [], []
for l in range(num_row):
    for c in range(num_col):
        #add a lista
        lats.append(latx)
        lons.append(lonx)
        #proximas celulas a direita
        origem = geopy.Point(latx, lonx)
        destination = VincentyDistance(meters=cell_wd).destination(origem, math.degrees(0))
        latx, lonx = destination.latitude, destination.longitude
    #vai para a celula mais a esqueda da linha de cima
    origem = geopy.Point(lat0, lon0)
    destination = VincentyDistance(meters=(l+1)*cell_wd).destination(origem, math.degrees(math.pi/2))
    latx, lonx = destination.latitude, destination.longitude
print(len(lats))
    
data = np.array([lats, lons])
df_cells_coord = pd.DataFrame({'lat':data[0], 'lon':data[1]})
df_cells_coord.head()

1640

        lat        lon
0 -8.077305 -34.906603
1 -8.076762 -34.906603
2 -8.076220 -34.906603
3 -8.075677 -34.906603
4 -8.075135 -34.906603

### Calculo do path de todos as celulas

In [66]:
#def dist_BS_MS(latB, lonB, latM,lonM):
#def _FSPL(dist, freq):

#print (dist_BS_MS(min_lat, min_lon, min_lat, max_lon))
df_antenas.head()

path_loss_BS1 = []
path_loss_BS2 = []
path_loss_BS3 = []
path_loss_BS4 = []
path_loss_BS5 = []
path_loss_BS6 = []

print(len(df_cells_coord))
print(len(path_loss_BS1))
print(len(df_antenas))

n_cells = len(df_cells_coord)


#BS_1
for j in range(n_cells):
    dist = dist_BS_MS(df_antenas.lat[0], df_antenas.lon[0], df_cells_coord.lat[j], df_cells_coord.lon[j])
    pl1 = freeSpacePL(dist, 1800*(10**6))
    path_loss_BS1.append(pl1)
    #pl2 = leeModelPL(dist, 1800*(10**6))
    #path_loss_BS1[1].append(pl2)
    #pl3 = flatEarthPL(dist, 1800*(10**6))
    #path_loss_BS1[2].append(pl3)
    
    
print(len(path_loss_BS1))

#BS_2
for j in range(n_cells):
    dist = dist_BS_MS(df_antenas.lat[1], df_antenas.lon[1], df_cells_coord.lat[j], df_cells_coord.lon[j])
    pl1 = freeSpacePL(dist, 1800*(10**6))
    path_loss_BS2.append(pl1)
    #pl2 = leeModelPL(dist, 1800*(10**6))
    #path_loss_BS2.append(pl2)
    #pl3 = flatEarthPL(dist, 1800*(10**6))
    #path_loss_BS2.append(pl3)
print(len(path_loss_BS2))

#BS_3
for j in range(n_cells):
    dist = dist_BS_MS(df_antenas.lat[2], df_antenas.lon[2], df_cells_coord.lat[j], df_cells_coord.lon[j])
    pl1 = freeSpacePL(dist, 1800*(10**6))
    path_loss_BS3.append(pl1)
    #pl2 = leeModelPL(dist, 1800*(10**6))
    #path_loss_BS3.append(pl2)
    #pl3 = flatEarthPL(dist, 1800*(10**6))
    #path_loss_BS3.append(pl3)
print(len(path_loss_BS3))

#BS_4
for j in range(n_cells):
    dist = dist_BS_MS(df_antenas.lat[3], df_antenas.lon[3], df_cells_coord.lat[j], df_cells_coord.lon[j])
    pl1 = freeSpacePL(dist, 1800*(10**6))
    path_loss_BS4.append(pl1)
    #pl2 = leeModelPL(dist, 1800*(10**6))
    #path_loss_BS4.append(pl2)
    #pl3 = flatEarthPL(dist, 1800*(10**6))
    #path_loss_BS4.append(pl3)
print(len(path_loss_BS4))

#BS_5
for j in range(n_cells):
    dist = dist_BS_MS(df_antenas.lat[4], df_antenas.lon[4], df_cells_coord.lat[j], df_cells_coord.lon[j])
    pl1 = freeSpacePL(dist, 1800*(10**6))
    path_loss_BS5.append(pl1)
    #pl2 = leeModelPL(dist, 1800*(10**6))
    #path_loss_BS5.append(pl2)
    #pl3 = flatEarthPL(dist, 1800*(10**6))
    #path_loss_BS5.append(pl3)
print(len(path_loss_BS5))

    
#BS_6
for j in range(n_cells):
    dist = dist_BS_MS(df_antenas.lat[5], df_antenas.lon[5], df_cells_coord.lat[j], df_cells_coord.lon[j])
    pl1 = freeSpacePL(dist, 1800*(10**6))
    path_loss_BS6.append(pl1)
    #pl2 = leeModelPL(dist, 1800*(10**6))
    #path_loss_BS6.append(pl2)
    #pl3 = flatEarthPL(dist, 1800*(10**6))
    #path_loss_BS6.append(pl3)
print(len(path_loss_BS6))

print('fim')

1640
0
6
1640
1640
1640
1640
1640
1640
fim

### Data frame com path dos centros das celulas

In [67]:
data_path = np.array([path_loss_BS1, path_loss_BS2, path_loss_BS3, path_loss_BS4, path_loss_BS5, path_loss_BS6])

data_path
df_cells_path = pd.DataFrame({'pathBTS1':data_path[0], 'pathBTS2':data_path[1], 'pathBTS3':data_path[2], 'pathBTS4':data_path[3], 'pathBTS5':data_path[4], 'pathBTS6':data_path[5]})
df_cells_path.head()

     pathBTS1    pathBTS2    pathBTS3    pathBTS4    pathBTS5    pathBTS6
0  282.755931  280.026940  262.935615  280.026940  284.655238  283.268099
1  282.602673  279.990440  261.640019  279.990439  284.529725  283.071583
2  282.453918  279.971553  261.338217  279.971552  284.406924  282.874927
3  282.310338  279.970510  262.232614  279.970510  284.287175  282.678543
4  282.172636  279.987325  263.788433  279.987325  284.170836  282.482899

### Dataframe com coord e path dos centros das celulas

In [68]:
df_cell_coords_paths = df_cells_coord.join(df_cells_path, lsuffix='_df_cells_coord', rsuffix='_df_cells_path')

print(len(df_cell_coords_paths))

df_cell_coords_paths.head()

1640

,lat,lon,pathBTS1,pathBTS2,pathBTS3,pathBTS4,pathBTS5,pathBTS6
0,-8.077305,-34.906603,282.755931,280.026940,262.935615,280.026940,284.655238,283.268099
1,-8.076762,-34.906603,282.602673,279.990440,261.640019,279.990439,284.529725,283.071583
2,-8.076220,-34.906603,282.453918,279.971553,261.338217,279.971552,284.406924,282.874927
3,-8.075677,-34.906603,282.310338,279.970510,262.232614,279.970510,284.287175,282.678543
4,-8.075135,-34.906603,282.172636,279.987325,263.788433,279.987325,284.170836,282.482899

### K-fold cross validation

In [69]:
features = ['pathBTS1', 'pathBTS2', 'pathBTS3', 'pathBTS4', 'pathBTS5', 'pathBTS6']
to_predict=['lat', 'lon']

### ERRO

In [70]:
def calculate_errors(pathloss_measures_df, pathloss_model_df):
    squaredError = ((pathloss_measures_df - pathloss_model_df) ** 2)
    rmse = squaredError.mean(axis=0) ** (0.5)

    return rmse

In [71]:
import numpy as np
from geographiclib.geodesic import Geodesic,Math

def distanceGeoLibArr(lat1,lon1,lat2,lon2,extract):
        if (np.isscalar(lat1) and np.isscalar(lat2)):
            return GeoUtils.distanceGeoLib(lat1,lon1,lat2,lon2,extract)
        elif (np.isscalar(lat1) and (not np.isscalar(lat2))):
            resp=[]
            for i in range(len(lat2)):
                r = GeoUtils.distanceGeoLib(lat1,lon1,lat2[i],lon2[i],extract)
                resp.append(r)
            return resp
        elif (not np.isscalar(lat1) and (not np.isscalar(lat2))):
            resp=[]
            for i in range(len(lat1)):
                r = GeoUtils.distanceGeoLib(lat1[i],lon1[i],lat2[i],lon2[i],extract)
                resp.append(r)
            return resp




        
def distanceGeoLib(lat1,lon1,lat2,lon2,extract):
    MASK=Geodesic.DISTANCE|Geodesic.AZIMUTH|Geodesic.REDUCEDLENGTH
    gab=Geodesic.WGS84.Inverse(lat1,lon1,lat2,lon2,MASK)
    resp = extract(gab)
    return resp

def distanceInKm(lat1,lon1,lat2,lon2):
    return GeoUtils.distanceGeoLibArr(lat1,lon1,lat2,lon2,lambda g:g['s12']/1000)

    
def AzimuthAtoB(lata,lona,latb,lonb):
    return GeoUtils.distanceGeoLibArr(lata,lona,latb,lonb,lambda g:g['azi1'])

In [72]:
def distances_dataframe(erbs, measures):
    users_lat = measures['lat'].values.reshape((1,measures.shape[0]))[0]
    users_lon = measures['lon'].values.reshape((1,measures.shape[0]))[0]
    indexes = erbs['bts'].values.reshape((1,6))[0]    

    distances_dict = {}

    for i in range(erbs.shape[0]):
        distances_dict[indexes[i]] = calculate_distances(erbs.iloc[i], users_lat, users_lon)

    return pd.DataFrame(data = distances_dict)


def calculate_distances(erb, users_lat, users_lon):
    return distanceInKm(erb['lat'], erb['lon'], users_lat, users_lon)

In [73]:
def calculate_pathloss_measures(erbs, measures):
    erbs_pt = erbs['eirp'].values.reshape((1,6))
    indexes = erbs['bts'].values.reshape((1,6))[0]
    
    pathloss_dict = {}
    
    for i in range(measures.shape[0]):
        user_pr = measures.iloc[i][2:].values.reshape((1,6))
        pathloss = erbs_pt - user_pr
        pathloss_dict[i] = pathloss[0]
    
    return pd.DataFrame(data = pathloss_dict, index = indexes).T

In [74]:
dis = distances_dataframe(df_antenas, df_ref)
pathLossMedicao = calculate_pathloss_measures(df_antenas, df_ref)

In [90]:
pathLoss = df_cell_coords_paths.drop(['lat','lon'],axis = 1)

pathLoss.rename(columns={'pathBTS1': 'BTS-1', 'pathBTS2' :'BTS-2', 'pathBTS3': 'BTS-3', 'pathBTS4': 'BTS-4', 'pathBTS5': 'BTS-5',
                         'pathBTS6': 'BTS-6'}, inplace=True)

erro = calculate_errors(pathLossMedicao,pathLoss)

In [88]:
pathLossMedicao.head()

       BTS-1      BTS-2      BTS-3      BTS-4      BTS-5      BTS-6
0 -65.020000 -48.790000 -74.380000 -68.030000 -73.870000 -76.490000
1 -49.700000 -65.933333 -50.966667 -53.166667 -66.966667 -70.533333
2 -66.666667 -54.833333 -68.900000 -79.666667 -87.366667 -86.966667
3 -71.833333 -77.066667 -74.966667 -76.266667 -70.500000 -82.133333
4 -65.900000 -80.833333 -72.600000 -67.133333 -51.666667 -64.733333

In [86]:
pathLoss.head()

     pathBTS1    pathBTS2    pathBTS3    pathBTS4    pathBTS5    pathBTS6
0  282.755931  280.026940  262.935615  280.026940  284.655238  283.268099
1  282.602673  279.990440  261.640019  279.990439  284.529725  283.071583
2  282.453918  279.971553  261.338217  279.971552  284.406924  282.874927
3  282.310338  279.970510  262.232614  279.970510  284.287175  282.678543
4  282.172636  279.987325  263.788433  279.987325  284.170836  282.482899

In [92]:
erro

BTS-1    337.352455
BTS-2    342.142919
BTS-3    349.585596
BTS-4    338.902738
BTS-5    343.699874
BTS-6    345.386138
dtype: float64

In [75]:
dis.head()

      BTS-1     BTS-2     BTS-3     BTS-4     BTS-5     BTS-6
0  0.958131  0.160263  1.324330  0.160263  1.356616  1.314990
1  0.601945  0.349611  1.410129  0.349611  1.029920  0.931920
2  1.168916  0.570194  0.906877  0.570194  1.607065  1.412010
3  0.565946  1.391861  2.435669  1.391861  0.171895  0.569776
4  0.427182  1.008004  2.267161  1.008004  0.318048  0.784524

In [93]:
from sklearn.model_selection import train_test_split

X = df_cell_coords_paths.drop(['lat','lon'], axis = 1)
y = df_cell_coords_paths.iloc[:, 0:2]


X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [101]:
X_train.head()

        pathBTS1    pathBTS2    pathBTS3    pathBTS4    pathBTS5    pathBTS6
224   279.891252  281.857715  280.534021  281.857715  281.641938  277.763509
625   275.727111  280.536079  282.400822  280.536079  277.736887  270.314140
125   281.157884  278.768158  269.300706  278.768158  283.379216  281.587047
1160  277.641736  270.522014  283.106035  270.522015  279.548358  280.873332
966   273.607936  265.074970  281.705357  265.074971  277.528842  277.995907

In [102]:
y_train.head()

224    -8.064284
625    -8.063742
125    -8.074592
1160   -8.077304
966    -8.074049
Name: lat, dtype: float64

In [98]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=3)

In [99]:
knn.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=2,
          weights='uniform')

In [100]:
from sklearn.metrics import mean_squared_error
y_pred = knn.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print('rmse:{}'.format(rmse))

rmse:0.000243356789702789